  <footer id="footer" class="bg-cover" style="background-image:url({{.Site.Params.bannerBottom | relURL }})">
    <button onclick="scrollToTop()" class="scroll-to-top card">
      <i class="fas fa-angle-double-up icon"></i>
    </button>
    <button onclick="scrollToBottom()" class="scroll-to-bottom card">
      <i class="fas fa-angle-double-down icon"></i>
    </button>
    <!-- {{.Site.Copyright}} -->
    <div class="center">
      {{- partial "share.html" . -}}
      <div class="copyright center">
        <span>{{replace "COPYRIGHT 2021-{year}." "{year}" now.Year}} <a href="https://dev2820.github.io"> GIJO YANG (DEV2820).</a></span>
        <span>ALL RIGHTS RESERVED.</span>
      </div>
    </div>
  </footer>
</body>
</html>
  