<aside id="left-aside">
    <div class="profile-container">
        {{ partial "profile.html" .}}
    </div>
    <div class="navigation-container">
        <nav class="aside-menu center">
            <ul>
                <li>
                    <i class="fas fa-home icon"></i>
                    <a href="{{.Site.BaseURL}}">{{ i18n "menuHome" }}</a>
                </li>
                <li>
                    <i class="fas fa-list icon"></i>
                    <a href="{{.Site.BaseURL}}/categories">{{i18n "menuCategories"}}</a>
                </li>
                <li>
                    <i class="fas fa-tags icon"></i>
                    <a href="{{.Site.BaseURL}}/tags">{{i18n "menuTags"}}</a>
                </li>
                <li>
                    <i class="fas fa-search icon"></i>
                    <a href="{{.Site.BaseURL}}/search">{{i18n "menuSearch"}}</a>
                </li>
                <li>
                    <i class="fas fa-user icon"></i>
                    <a href="{{.Site.BaseURL}}/about">{{i18n "menuAbout"}}</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>