<div class="pagination">
  {{ if .Paginator.HasPrev }}
  <a class="first round-card" href="{{ .Paginator.First.URL }}" rel="prev">
    <i class="fa fa-angle-double-left icon" aria-hidden="true"></i>
  </a>
  {{ end }}
  {{ if .Paginator.HasPrev }}
  <a class="prev round-card" href="{{ .Paginator.Prev.URL }}" rel="prev">
    <i class="fa fa-angle-left icon" aria-hidden="true"></i>
  </a>
  {{ end }}
  <span class="page">
    {{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}
  </span>
  {{ if .Paginator.HasNext }}
  <a class="next round-card" href="{{ .Paginator.Next.URL }}" rel="next">
    <i class="fa fa-angle-right icon" aria-hidden="true"></i>
  </a>
  {{ end }}
  {{ if .Paginator.HasNext }}
  <a class="last round-card" href="{{ .Paginator.Last.URL }}" rel="next">
    <i class="fa fa-angle-double-right icon" aria-hidden="true"></i>
  </a>
  {{ end }}
</div>  
