<nav class="section-move">
    {{ with .PrevInSection }}
      <a href="{{.Permalink}}" class="previous slide-left"> 
        <i class="fas fa-angle-double-left icon"></i>
        <div class="title">
          <small>prev</small>
          <span>{{.Title | truncate 20}}</span>
        </div>
      </a>
    {{ end }}
    {{ with .NextInSection }}
      <a href="{{.Permalink}}" class="next slide-right">
        <div class="title">
          <small>next</small>  
          <span>{{.Title | truncate 20}}</span>
        </div>
        <i class="fas fa-angle-double-right icon"></i>
      </a>
    {{ end }}
</nav>
  