<nav class="section-move">
    {{ with .PrevInSection }}
      <a href="{{.Permalink}}" class="previous"> 
        <i class="fas fa-angle-double-left icon slide-left"></i>
        <div class="title">
          <small>prev</small>
          <span>{{.Title | truncate 20}}</span>
        </div>
      </a>
    {{ end }}
    {{ with .NextInSection }}
      <a href="{{.Permalink}}" class="next">
        <div class="title">
          <small>next</small>  
          <span>{{.Title | truncate 20}}</span>
        </div>
        <i class="fas fa-angle-double-right icon slide-right"></i>
      </a>
    {{ end }}
</nav>
  