<div id="topbar" class="card">
  <div class="menus">
    <div class="logo">
      <a href="{{ "/" | relURL }}">
        {{ if .Site.Params.siteLogo }}
        <img src="{{ .Site.Params.siteLogo | relURL }}" height="32px" />
        {{ else }}
        <img src="{{ "/images/logo.png" | relURL }}" height="32px" />
        {{ end }}
      </a>
    </div>
    <div class="burger">
      <button onclick="event.stopPropagation(); goToUrl('/search')">
        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
      </button>
      <button onclick="event.stopPropagation(); toggleAside(true)">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="progress-bar">
    <span class="progress"></span>
  </div>
</div>