{{ define "main" }}
<main id="about-main" >
    <!-- {{ partial "breadcrumb.html" .}} -->
    <section id="about" class="card">
        {{ with .Site.GetPage "about"}}
            {{ if .Params.cover }}
            <div class="cover" style="background-image:url({{ .Params.cover }}">
                <a class="go-back" href="javascript:history.back()"><i class="fas fa-arrow-left icon"></i></a>
            </div>
            {{ end }}
            {{ if .Params.profile }}
                <img class="profile for-belt" src="{{ .Params.profile }}"/>
            {{ else if .Site.Author.profile }}
                <img class="profile for-belt" src="{{ .Site.Author.profile }}"/>
            {{ end }}
            <article class="content">
                <h3 class="title center">{{ .Title }}</h3>
                <h1 class="name center">{{.Site.Author.name}}</h1>
                <div class="share-container center">
                    {{ partial "share.html" . }}
                </div>
                <hr/>
                {{ .Content }}
            </article>
        {{ end }}
    </section>
</main>
{{ end }}