{{ define "header" }}
{{ with .Site.GetPage "search"}}
<header id="search-header">
    <div class="center">
        <h1>{{ .Title }}</h1>
    </div>
</header>
{{ end }}
{{ end }}
{{ define "main" }}
<main id="search-main">
    <div class="center">
        <div class="search-bar">
            <input id="search-input" type="text" placeholder="search..." name="search">
            <i class="fas fa-search icon"></i>
            <i class="fas fa-times icon hidden"></i>
        </div>
        <div id="search-result">
        </div>
    </div>
</main>
<script>
    let idx = null;
    readTextFile("/lunr.json", function(docs){
        let documents = JSON.parse(docs);
        idx = lunr(function () {
            this.ref('uri')
            this.field('title')
            this.field('content')
            this.field('tags')
            
            documents.forEach(function (doc) {
                this.add(doc)
            }, this)
        })
    });
    document.getElementById('search-input').addEventListener('change',function (event){
        if(idx){
            const result = idx.search(event.target.value);
            document.getElementById('search-result').innerHTML(result);
        }
    })
</script>
{{ end }}