{{ define "header" }}
<header id="section-header" class="card-inset bg-cover"  style="background-image:url({{ .Params.cover }});">
    <div class="center">
        <h1 class="title">Section: {{.Title}}</h1>
        <div class="description">{{ .Content }}</div>
    </div>
</header>
{{ end }}
{{ define "main" }}
<script>
    function byDate() {
        const elByDate = document.querySelector('main#section-main div.by-date');
        const elByDateReverse = document.querySelector('main#section-main div.by-date-reverse');
        const elByDateOption = document.querySelector('main#section-main button.by-date');
        const elByDateReverseOption = document.querySelector('main#section-main button.by-date-reverse');
        if(elByDate.classList.contains('hidden')) {
            elByDate.classList.remove('hidden');
            elByDateOption.classList.add('toggle-on');
        }
        if(!elByDateReverse.classList.contains('hidden')) {
            elByDateReverse.classList.add('hidden');
            elByDateReverseOption.classList.remove('toggle-on');
        }
    }
    function byDateReverse() {
        const elByDate = document.querySelector('main#section-main div.by-date');
        const elByDateReverse = document.querySelector('main#section-main div.by-date-reverse');
        const elByDateOption = document.querySelector('main#section-main button.by-date');
        const elByDateReverseOption = document.querySelector('main#section-main button.by-date-reverse');
        if(elByDateReverse.classList.contains('hidden')) {
            elByDateReverse.classList.remove('hidden');
            elByDateReverseOption.classList.add('toggle-on');
        }
        if(!elByDate.classList.contains('hidden')) {
            elByDate.classList.add('hidden');
            elByDateOption.classList.remove('toggle-on');
        }
    }
</script>
<main id="section-main">
    <div class="roller"></div>
    <section id="section-list">
        <div class="sort-options card">
            <button class="by-date option solid" onclick="byDate()">{{ i18n "byOlder" }}</button>
            <button class="by-date-reverse option solid toggle-on" onclick="byDateReverse()">{{ i18n "byNewer" }}</button>    
        </div>
        <div class="by-date hidden">
            {{ partial "by-date.html" . }}
        </div>
        <div class="by-date-reverse">
            {{ partial "by-date-reverse.html" . }}
        </div>
        <div class="center">
            {{ partial "pagination.html" . }}
        </div>
    </section>
</main>
{{ end }}