{{ define "header" }}
{{ if .Params.cover }}
{{ with .Resources.GetMatch (string .Params.cover) }}
  {{ $image := . }}
  {{ $image := $image.Fill "1000x450 smart" }}
  <header id="single-header" class="card-inset bg-cover" style="background-image:url({{ $image.RelPermalink }});">
{{ end }}
{{ else }}
<header id="single-header" class="card-inset bg-cover" style="background-image:url({{"/images/default_banner.jpg"}});">
{{ end }}
  <div class="curtain center appear-100ms">
    <a class="go-back" href="javascript:history.back()"><i class="fas fa-arrow-left icon"></i></a>
    <h1 class="title">{{ .Title }}</h1>
    <div class="meta-data appear-300ms">
      <p class="date"> <i class="far fa-calendar icon"></i> {{ i18n "postDatetime" .Date }} </p>
      <p class="wordcount"> <i class="far fa-clock icon"></i> {{ .ReadingTime }}</p>
    </div>
  </div>
</header>
{{ end }}
{{ define "main" }}
<main id="single-main">
  <div class="roller"></div>
  <section id="content" class="appear-700ms">
    <article class="content card">
      {{ .Content }}
    </article>
    <aside id="right-aside">
      {{ partial "post-toc.html" . }}
    </aside>
  </section>
  <section id="sectioin-move">
    {{ partial "section-move.html" . }}
  </section>
  <section id="meta">
    <div class="card">
      {{ with .Params.topics }}
      <ul id="topics">
        {{ range . }}
          <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      {{ end }}
      {{ partial "category_breadcrumb.html" . }}
      {{ partial "tag_list.html" . }}
      {{ template "_internal/disqus.html" . }}
    </div>
  </section>
</main>

{{ end }}