{{ define "header" }}
{{ if .Params.cover }}
{{ with .Resources.GetMatch (string .Params.cover) }}
  {{ $image := . }}
  {{ $width := (div (mul 450 $image.Width) $image.Height) }}
  {{ $ts := slice $width "450" }}
  {{ $ts := string (delimit $ts "x") }}
  {{ $ts := slice $ts "smart" }}
  {{ $ts := string (delimit $ts " ") }}
  {{ $image := $image.Fill $ts }}
  <header id="single-header" style="background-image:url({{ $image.RelPermalink }});">
{{ end }}
{{ else }}
<header id="single-header" style="background-image:url({{"/images/default_banner.jpg"}});">
{{ end }}
  <div class="curtain">
    <h1 class="title appear-300ms">{{ .Title }}</h1>
    <div class="meta-data appear-700ms">
      <p class="date"> <i class="far fa-calendar icon"></i> {{ i18n "postDatetime" .Date }} </p>
      <p class="wordcount"> <i class="far fa-clock icon"></i> {{ .ReadingTime }}</p>
      {{ $author := .Site.Author.name }}
      {{with .Site.GetPage "/about"}}
      <p class="author"><i class="fas fa-feather-alt icon"></i> <a href="{{.Permalink}}">{{ $author }}</a></p>
      {{end}}
    </div>
    <!-- {{ partial "breadcrumb.html" .}} -->
  </div>
</header>
{{ end }}
{{ define "main" }}
<main id="single-main">
  <div class="roller"></div>
  <section id="content" class="appear-1200ms">
    <article class="content card">
      {{ .Content }}
    </article>
    <aside id="right-aside">
      {{ partial "post-toc.html" . }}
    </aside>
  </section>
  <section id="meta">
    <div class="card">
      {{ partial "section-move.html" . }}
      {{ with .Params.topics }}
      <ul id="topics">
        {{ range . }}
          <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      {{ end }}
      {{ partial "category_breadcrumb.html" . }}
      {{ partial "tag_list.html" . }}
      <!-- {{ partial "profile-in-article.html" . }} -->
      <!-- {{ partial "relate-content.html" . }} -->
      {{ template "_internal/disqus.html" . }}
    </div>
  </section>
</main>

{{ end }}