<article class="summary card float">
  {{ $link := .Permalink}}
  {{ if .Params.cover }}
    {{ with .Resources.GetMatch (string .Params.cover) }}
    {{ $image := . }}
    {{ $image := $image.Fill "250x250 smart" }}
    <div class="cover-image" onclick="goToUrl({{ $link }})" style="background-image: linear-gradient(90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 251px),url({{ $image.RelPermalink }});"></div>
    {{ else }}
    <div class="cover-image" onclick="goToUrl({{ $link }})" style="background-image: linear-gradient(90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 251px),url({{ .Site.Params.defaultSummaryImage }});"></div>
    {{ end }}
  {{ else }}
  <div class="cover-image" onclick="goToUrl({{ $link }})" style="background-image: linear-gradient(90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 251px),url({{ .Site.Params.defaultSummaryImage }});"></div>
  {{ end }}
  <div class="cover-content">
    <a href="{{ .Permalink }}">
      {{ if .Params.icon }}
      <img class="icon" src="{{ .Params.icon | relURL }}" />
      {{ else }}
      <img class="icon" src="{{ "/images/cover-icon.png" | relURL }}" />
      {{ end }}
      <h2 class="title">{{ .Title | truncate 80 }}</h2>
    </a>
    {{$aboutPage := .Site.GetPage "/about" }}
    <div class="post-meta">
      <i class="far fa-calendar" aria-hidden="true"></i>
      <span class="date">{{ i18n "postDatetime" .Date }} | </span>
      <i class="fas fa-comments" aria-hidden="true"></i>
      <a href="{{.Permalink}}#disqus_thread"></a>
    </div>
    <div class="content">{{ .Summary | truncate 160}}</div>
    <div class="read-more">
      <a class="go-to-read" href="{{ .Permalink }}">
        <span>{{ i18n "readMore" }}</span>
        <i class="fas fa-angle-right"></i>
      </a>
    </div>
  </div>
</article>