{{ define "header" }}
<header class="taxonomy">
    <div class="center">
        <h1>
            {{if eq .Data.Plural "categories"}}{{ i18n "categoriesTitle" }} -
            {{ else if eq .Data.Plural "subcategories"}}{{ i18n "subcategoriesTitle" }} -
            {{ else if eq .Data.Plural "tags"}}{{ i18n "tagsTitle" }} -
            {{ else }}
            {{ end }}
            {{ .Title }}
        </h1>
        <p>{{ i18n "postCount" (len .Pages) }}</p>
    </div>
</header>
{{ end }}
{{ define "main" }}
<script>
    function byDate() {
        const elByDate = document.querySelector('main#taxonomies div.by-date');
        const elByDateReverse = document.querySelector('main#taxonomies div.by-date-reverse');
        const elByDateOption = document.querySelector('main#taxonomies button.by-date');
        const elByDateReverseOption = document.querySelector('main#taxonomies button.by-date-reverse');
        if(elByDate.classList.contains('hidden')) {
            elByDate.classList.remove('hidden');
            elByDateOption.classList.add('toggle-on');
        }
        if(!elByDateReverse.classList.contains('hidden')) {
            elByDateReverse.classList.add('hidden');
            elByDateReverseOption.classList.remove('toggle-on');
        }
    }
    function byDateReverse() {
        const elByDate = document.querySelector('main#taxonomies div.by-date');
        const elByDateReverse = document.querySelector('main#taxonomies div.by-date-reverse');
        const elByDateOption = document.querySelector('main#taxonomies button.by-date');
        const elByDateReverseOption = document.querySelector('main#taxonomies button.by-date-reverse');
        if(elByDateReverse.classList.contains('hidden')) {
            elByDateReverse.classList.remove('hidden');
            elByDateReverseOption.classList.add('toggle-on');
        }
        if(!elByDate.classList.contains('hidden')) {
            elByDate.classList.add('hidden');
            elByDateOption.classList.remove('toggle-on');
        }
    }
</script>
<main id="taxonomies">
    <div class="center">    
        <button class="by-date option" onclick="byDate()">오래된글부터</button>
        <button class="by-date-reverse option toggle-on" onclick="byDateReverse()">최신글부터</button>
        <div class="by-date hidden">
            {{ partial "by-date.html" . }}
        </div>
        <div class="by-date-reverse">
            {{ partial "by-date-reverse.html" . }}
        </div>
        {{ partial "pagination.html" . }}
    </div>
</main>
{{ end }}