{{ define "header" }}
<header id="taxonomy-header" class="card-inset bg-cover">
    <div class="center">
        <h1 class="title">
            {{if eq .Data.Plural "categories"}}
                <i class="fas fa-folder-open"></i>
            {{ else if eq .Data.Plural "subcategories"}}
                <i class="fas fa-folder-open"></i>
            {{ else if eq .Data.Plural "tags"}}
                <i class="fas fa-tag"></i>
            {{ end }}
            {{ .Title }}
        </h1>
        <div class="taxonomy-count">
            <p class="counter">{{ i18n "postCount" (len .Pages) }}</p>
        </div>
    </div>
</header>
{{ end }}
{{ define "main" }}
<script>
    function byDate() {
        const elByDate = document.querySelector('main#taxonomy-main div.by-date');
        const elByDateReverse = document.querySelector('main#taxonomy-main div.by-date-reverse');
        const elByDateOption = document.querySelector('main#taxonomy-main button.by-date');
        const elByDateReverseOption = document.querySelector('main#taxonomy-main button.by-date-reverse');
        if(elByDate.classList.contains('hidden')) {
            elByDate.classList.remove('hidden');
            elByDateOption.classList.add('toggle-on');
        }
        if(!elByDateReverse.classList.contains('hidden')) {
            elByDateReverse.classList.add('hidden');
            elByDateReverseOption.classList.remove('toggle-on');
        }
    }
    function byDateReverse() {
        const elByDate = document.querySelector('main#taxonomy-main div.by-date');
        const elByDateReverse = document.querySelector('main#taxonomy-main div.by-date-reverse');
        const elByDateOption = document.querySelector('main#taxonomy-main button.by-date');
        const elByDateReverseOption = document.querySelector('main#taxonomy-main button.by-date-reverse');
        if(elByDateReverse.classList.contains('hidden')) {
            elByDateReverse.classList.remove('hidden');
            elByDateReverseOption.classList.add('toggle-on');
        }
        if(!elByDate.classList.contains('hidden')) {
            elByDate.classList.add('hidden');
            elByDateOption.classList.remove('toggle-on');
        }
    }
</script>
<main id="taxonomy-main">
    <div class="roller"></div>
    <section id="taxonomy-list">   
        <div class="sort-options card">
            <button class="by-date option solid" onclick="byDate()">{{ i18n "byOlder" }}</button>
            <button class="by-date-reverse option solid toggle-on" onclick="byDateReverse()">{{ i18n "byNewer" }}</button>        
        </div> 
        <div class="by-date hidden">
            {{ partial "by-date.html" . }}
        </div>
        <div class="by-date-reverse">
            {{ partial "by-date-reverse.html" . }}
        </div>
        <div class="center">
            {{ partial "pagination.html" . }}
        </div>
    </section>
</main>
{{ end }}