{{ define "header" }}
  {{ if .Params.cover }}
  <header id="home-header" class="card" style="background-image:url({{.Params.cover}});">
  {{ else }}
  <header id="home-header" class="card" style="background-image:url('/images/default_background.jpg');">
  {{ end }}
    <div class="container">
    {{ partial "clock.html" . }}
      <h1 class="title">{{.Title}}</h1>
      <div class="content">{{.Content}}</div>
    </div>
  </header>
{{ end }}
{{ define "main" }}
<script src="/js/cardClassControl.js"></script>
<main id="home-main">
  <div class="menu card">
    <ul>
      {{ range .Site.Data.config.HomeMenu}}
      <li onclick="goToUrl({{ .link | relURL }});">
        <a href="{{ .link | relURL }}">{{ .title }}</a>
      </li>
      {{ end }}   
    </ul>
  </div>
  <div class="center">
    {{ range .Paginator.Pages }}
    {{ .Render "summary" }}
    <hr class="summary-sep" />
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
</main>
{{ end }}