<link rel="stylesheet" href="{{ "/css/notFound.css" | relURL }}">
{{ define "main"}}
<main id="notFound">
  <div class="error-cover">
    {{ if .Site.Params.notFound }}
    <img src="{{.Site.Params.notFound | relURL }}"/>
    {{ else }}
    <img src="{{"/images/404NotFound.png" | relURL }}"/>
    {{ end }}
  </div>
  <div class="error-content">
    <div class="error-code">{{ i18n "notFoundCode" }}</div>
    <div class="error-message">{{ i18n "notFoundTitle" }}</div>
    <div class="error-description">{{ i18n "notFoundDescription"}}</div>
    <div class="go-other-page">
      <button id="title" onclick='goToUrl("{{ "/" | relURL }}");'><a href="{{ "/" | relURL }}">Go Home</a></button>
      <button onclick="javascript:history.back();"><a href="javascript:history.back();">Go Back</a></button>
    </div>
  </div>
</main>
{{ end }}