{{ define "title" }}
{{ if .Site.Params.cover }}
<header id="home-head" class="card" style="background-image:url({{.Site.Params.cover}});">
{{ else }}
<header id="home-head" class="card" style="background-image:url('/images/default_background.jpg');">
{{ end }}
  <div class="container">
  {{ partial "clock.html" . }}
    <h1 class="title">{{.Title}}</h1>
    <div class="content">{{.Content}}</div>
  </div>
</header>
<div id="home-menu" class="card">
  <ul>
    {{ range .Site.Data.config.HomeMenu}}
    <li onclick="goToUrl({{ .link | relURL }});">
      <a href="{{ .link | relURL }}">{{ .title }}</a>
    </li>
    {{ end }}   
  </ul>
</div>
{{ end }}
{{ define "main" }}
<script src="/js/homePage.js"></script>
<div id="home-summary">
  <div class="center">
    {{ range .Paginator.Pages }}
    {{ .Render "summary" }}
    <hr class="summary-sep" />
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
</div>
{{ end }}