{{ define "header" }}
{{ if .Params.banner }}
<header id="category-header" class="card-inset bg-cover" style="background-image: url({{ .Site.Params.categoriesBannerImage }});">
{{ else }}
<header id="category-header" class="card-inset bg-cover">
{{ end }}
<div class="center">
    <h1 class="title"><i class="fas fa-list icon"></i>{{ i18n "categoriesTitle" }}</h1>
    <p class="description">{{ i18n "categoriesDescription" }}</p>
  </div>
</header>
{{ end }}
{{ define "main" }}
<main id="category-main">
  <div class="roller"></div>
  <section id="category-term">
    <ul>
      {{ $baseurl := .Site.BaseURL }}
      {{ $data := .Data }}
      {{ $site := .Site }}
      {{ range $key,$value := .Data.Terms.Alphabetical }}
      <li class="term card appear-500ms">
        <div class="head">
          <a href="{{ $baseurl }}{{ $data.Plural }}/{{ $value.Name | urlize }}">
          {{ with $site.GetPage ($value.Name | relURL | string ) }}
            {{if .Params.icon }}
              {{ with .Resources.GetMatch (string .Params.icon) }}
                <img class="cover" src="{{ .RelPermalink }}"></img>
              {{ else }}
                <img class="cover" src="/images/cover-icon.png"></img>
              {{ end }}
            {{ else }}
              <img class="cover" src="/images/cover-icon.png"></img>
            {{ end }}
            <span class="title"><h4>{{ humanize $value.Name }}</h4></span> 
          </a>
          <div class="meta">
            <span class="num">{{ $value.Count }}{{ i18n "categoriesCount" }}</span>
            ㆍ
            {{ range first 1 $value.Pages.ByDate.Reverse }} 
            <span>Last Updated On {{ i18n "postDatetime" .Date }}</span>
            {{ end }}
          </div>
          <div class="description">
            {{ .Content }}
          </div>
          {{ end }}
        </div>
        <hr class="line" />
        <div class="subcategories">
          {{ $list := ( index $site.Data.config.subCategoryList $value.Name ) }}
          <ul>
          {{ range $key, $value := $site.Taxonomies.subcategories.Alphabetical }}
            {{ if in $list $value.Name }}
              <li class="term">
                <a href="{{ $baseurl }}subcategories/{{ $value.Name | urlize }}">
                  <span class="name">{{ humanize $value.Name }}</span>
                  <small class="num">&nbsp;({{ $value.Count }})</small>
                </a>
              </li>
            {{ end }}
          {{ end }}
          </ul>
        </div>
        </div>
      </li>
      {{ end }}
    </ul>
  </section>
</main>
{{ end }}