<aside id="aside" class="hidden">
    <div class="right-container card">
        <div class="top">
            <button onclick="event.stopPropagation(); toggleAside(false)">
                <i class="fa fa-times fa-3x"></i>
            </button>
        </div>
        {{ partial "profile.html" .}}
    </div>
    <div class="center-container card">
        <div class="aside-menu">
            <ul>
                <li>
                    <i class="fas fa-home icon"></i>
                    <a href="{{.Site.BaseURL}}">{{ i18n "menuHome" }}</a>
                </li>
                <li>
                    <i class="fas fa-list icon"></i>
                    <a href="{{.Site.BaseURL}}/categories">{{i18n "menuCategories"}}</a>
                </li>
                <li>
                    <i class="fas fa-tags icon"></i>
                    <a href="{{.Site.BaseURL}}/tags">{{i18n "menuTags"}}</a>
                </li>
                <li>
                    <i class="fas fa-search icon"></i>
                    <a href="{{.Site.BaseURL}}/search">{{i18n "menuSearch"}}</a>
                </li>
            </ul>
        </div>
        <nav class="sidebar-nav">
            {{ $currentPage := . }}
            {{ $allPages := .Site.RegularPages }}
            <ul>
                {{ range .Site.Menus.main }}
                <li>
                    {{ $posts := (where $allPages "Section" "==" .Name) }}
                    {{ $postCount := len $posts }}
                    <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"
                        href="{{ .URL }}" title="{{ .Title }}">{{ .Name }} <small>({{$postCount}})</small></a>
                    {{ range first 1 $posts }}<small class="date">{{ .Date.Format "- 2006/01/02" }}</small>{{end}}
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
    <div class="left-container" onclick="event.stopPropagation(); toggleAside(false)">
        empty space
    </div>
</aside>