<aside id="aside" class="card hidden">
    <div class="top">
        <button onclick="event.stopPropagation(); toggleAside(false)">
            <i class="fa fa-times fa-3x"></i>
        </button>
    </div>
    <div class="container">
        {{ partial "profile.html" .}}
        <hr class="aside-sep">
        <div class="aside-menu">
            <ul>
                <li><a href="{{.Site.BaseURL}}/categories">{{i18n "menuCategories"}} {{ i18n "menuSet"}}</a></li>
                <li><a href="{{.Site.BaseURL}}/tags">{{i18n "menuTags"}} {{ i18n "menuSet"}}</a></li>
                <li><a class="aside-menu-item" href="{{.Site.BaseURL}}">{{ i18n "menuAllPages" }} {{ i18n "menuSet"}}
                        <small>({{(len .Site.RegularPages)}})</small></a>
                    {{ range first 1 .Site.RegularPages }}
                    <small class="date">{{ .Date.Format "- 2006/01/02" }}</small>{{end}}</li>
            </ul>
        </div>
        <hr class="aside-sep">
        <nav class="sidebar-nav">
            {{ $currentPage := . }}
            {{ $allPages := .Site.RegularPages }}
            <ul>
                {{ range .Site.Menus.main }}
                <li>
                    {{ $posts := (where $allPages "Section" "==" .Name) }}
                    {{ $postCount := len $posts }}
                    <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"
                        href="{{ .URL }}" title="{{ .Title }}">{{ .Name }} <small>({{$postCount}})</small></a>
                    {{ range first 1 $posts }}<small class="date">{{ .Date.Format "- 2006/01/02" }}</small>{{end}}
                </li>
                <hr class="aside-sep">
                {{ end }}
            </ul>
        </nav>
    </div>
</aside>