<div id="topbar" class="card">
  <div class="menus">
    <div class="logo">
      <a href="{{ "/" | relURL }}">
        {{ if .Site.Params.logo }}
        <img src="{{ .Site.Params.logo | relURL }}" height="32px" />
        {{ else }}
        <img src="{{ "/images/logo.png" | relURL }}" height="32px" />
        {{ end }}
      </a>
    </div>
    <div class="burger">
      <div class="container">
        <div class="input-container">
          <input id="search" type="text" placeholder="Search...">
        </div>
        <div class="icon" onclick="toggleSearch(true)">
          <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        </div>
      </div>
      </button>
      <button onclick="event.stopPropagation(); toggleAside(true)">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="progress-bar">
    <span class="progress"></span>
  </div>
</div>