<nav class="section-move">
    {{ with .PrevInSection }}
      <div class="previous card float"> 
        <i class="fa fa-angle-double-left icon"></i>
        <div class="title">
          <small>prev</small>
          <a href="{{.Permalink}}">{{.Title | truncate 20}}</a>
        </div>
      </div>
    {{ end }}
    {{ with .NextInSection }}
      <div class="next card float">
        <div class="title">
          <small>next</small>  
          <a href="{{.Permalink}}">{{.Title | truncate 20}}</a>
        </div>
        <i class="fa fa-angle-double-right icon"></i>
      </div>
    {{ end }}
</nav>
  