<link rel="stylesheet" href="{{ "/css/summary-small.css" | relURL }}">
{{ $baseurl := .Site.BaseURL }}
<div class="summary-small card" onclick="goToUrl('{{.Permalink}}')">
    {{ if .Params.cover }}
    <div class="banner" style="background-image:url({{.Params.cover | relURL }})">
    {{ else }}
    <div class="banner" style="background-image:url({{"/images/ocean.jpg" | relURL}})">
    {{ end }}
    </div>
    <div class="title">
      <a href="{{ .Permalink }}">
        <h3 class="name">{{ .Name | truncate 25 }}</h3> 
        <p class="summary">{{ .Summary | truncate 40 }}</p>
        <div class="date">
          <small>{{ .Date.Format "2006-01-02" }}</small>
        </div>
      </a>
    </div>
  </div>