<link rel="stylesheet" href="{{ "/css/table_of_content.css" | relURL }}">
<script>
    let toggle = true;
    function toggleTable() {
        if (toggle) {
            document.getElementById('table').classList.add('hidden')
            document.querySelector('.post-toc .title').classList.add('toggle-off')
            document.querySelector('.post-toc .right-angle.icon').classList.remove('hidden')
            document.querySelector('.post-toc .down-angle.icon').classList.add('hidden')
        }
        else {
            document.getElementById('table').classList.remove('hidden')
            document.querySelector('.post-toc .title').classList.remove('toggle-off')
            document.querySelector('.post-toc .right-angle.icon').classList.add('hidden')
            document.querySelector('.post-toc .down-angle.icon').classList.remove('hidden')
        }
        toggle = !toggle;
    }
</script>
<div class="post-toc">
    <div class="title" onclick="toggleTable()">
        <i class="fa fa-angle-right hidden right-angle icon"></i>
        <i class="fa fa-angle-down down-angle icon"></i>
        {{ i18n "postToc" }}
    </div>
    <div id="table">
        {{ .TableOfContents }}
    </div>
</div>