{{ define "header" }}
<header id="tag-header" class="card-inset bg-cover" style="background-image:url('/images/tags_banner.png');">
    <div class="center">
        <h1 class="title"><i class="fas fa-tags icon"></i>TAGS</h1>
        <p class="description">{{ i18n "tagsDescription" }}</p>
        <div class="tag-count">
            <p class="counter">{{ i18n "tagsCount" (len .Data.Terms) }}</p>
        </div>
    </div>
</header>
{{ end }}
{{ define "main" }}
<script>
    function toggleViewOption(option){
        const ALPHABET = 0;
        const COUNT = 1;
        const elAlphabetical = document.querySelector('#tag-term .tags.alphabetical');
        const elCount = document.querySelector('#tag-term .tags.count');
        const elAlphabeticalOption = document.querySelector('#tag-term .option.alphabetical');
        const elCountOption = document.querySelector('#tag-term .option.count');
        if(option===ALPHABET){
            if(elAlphabetical.classList.contains('hidden')) {
                elAlphabetical.classList.remove('hidden');
                elAlphabeticalOption.classList.add('toggle-on');
            }
            if(!elCount.classList.contains('hidden')) {
                elCount.classList.add('hidden');
                elCountOption.classList.remove('toggle-on');
            }
        }
        else if(option===COUNT){
            if(elCount.classList.contains('hidden')) {
                elCount.classList.remove('hidden');
                elCountOption.classList.add('toggle-on');
            }
            if(!elAlphabetical.classList.contains('hidden')) {
                elAlphabetical.classList.add('hidden');
                elAlphabeticalOption.classList.remove('toggle-on');
            }
        }
    }
</script>
<main id="tag-main">
    <div class="roller"></div>
    <section id="tag-term" class="appear-300ms">
        <div class="sort-options card">
            <button class="option alphabetical solid toggle-on" onclick="toggleViewOption(0)">{{ i18n "byAlphabetical" }}</button>
            <button class="option count solid" onclick="toggleViewOption(1)">{{ i18n "byCount" }}</button>
        </div>
        <div class="card">
            {{ $baseurl := .Site.BaseURL }}
            {{ $data := .Data }}
            <ul class="tags alphabetical">
                {{ range $key,$value := .Data.Terms.Alphabetical }}
                <li class="curtainup solid">
                    <a href="{{ $baseurl }}{{ $data.Plural }}/{{ $value.Name | urlize }}">
                        {{ $value.Name }} <small>({{ $value.Count }})</small>
                    </a>
                </li>
                {{ end }}
            </ul>
            <ul class="tags count hidden">
                {{ range $key,$value := .Data.Terms.ByCount }}
                <li class="solid">
                    <a href="{{ $baseurl }}{{ $data.Plural }}/{{ $value.Name | urlize }}">
                        {{ $value.Name }} <small>({{ $value.Count }})</small>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </section>
</main>
{{ end }}