<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <div id="loader">
        loading...
    </div>
    <body id="body">
        {{- partial "header.html" . -}}
        {{- partial "aside.html" . -}}
        {{ if .IsHome }}
            {{- block "title" . }}{{- end }}
        {{ end }}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        <script id="dsq-count-scr" src="//dev2820-github-io.disqus.com/count.js" async></script>
    </body>

</html>
