{{ define "main" }}
<script>
    function byDate() {
        const elByDate = document.querySelector('main#sections div.by-date');
        const elByDateReverse = document.querySelector('main#sections div.by-date-reverse');
        const elByDateOption = document.querySelector('main#sections button.by-date');
        const elByDateReverseOption = document.querySelector('main#sections button.by-date-reverse');
        if(elByDate.classList.contains('hidden')) {
            elByDate.classList.remove('hidden');
            elByDateOption.classList.add('toggle-on');
        }
        if(!elByDateReverse.classList.contains('hidden')) {
            elByDateReverse.classList.add('hidden');
            elByDateReverseOption.classList.remove('toggle-on');
        }
    }
    function byDateReverse() {
        const elByDate = document.querySelector('main#sections div.by-date');
        const elByDateReverse = document.querySelector('main#sections div.by-date-reverse');
        const elByDateOption = document.querySelector('main#sections button.by-date');
        const elByDateReverseOption = document.querySelector('main#sections button.by-date-reverse');
        if(elByDateReverse.classList.contains('hidden')) {
            elByDateReverse.classList.remove('hidden');
            elByDateReverseOption.classList.add('toggle-on');
        }
        if(!elByDate.classList.contains('hidden')) {
            elByDate.classList.add('hidden');
            elByDateOption.classList.remove('toggle-on');
        }
    }
</script>
<main id="sections">
    <h1 class="title">Section: {{.Title}}</h1>
    <div class="description">{{ .Content }}</div>
    <button class="by-date option" onclick="byDate()">오래된글부터</button>
    <button class="by-date-reverse option toggle-on" onclick="byDateReverse()">최신글부터</button>
    <div class="by-date hidden">
        {{ partial "by-date.html" . }}
    </div>
    <div class="by-date-reverse">
        {{ partial "by-date-reverse.html" . }}
    </div>
    {{ partial "pagination.html" . }}
</main>
{{ end }}