{{ define "title" }}
   title{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<script>
  document.getElementById('topbar').classList.remove('card')
  window.addEventListener('scroll', (event) => {
    let e = document.getElementById('topbar');
    if (this.scrollY > 450) {
      if (!e.classList.contains('card')) {
        e.classList.add('card');
      }
    }
    else {
      if (e.classList.contains('card')) {
        e.classList.remove('card');
      }
    }
  });
</script>
{{ if .Params.cover }}
<header id="banner" style="background-image:url({{.Params.cover | relURL }});">
{{ else }}
<header id="banner" style="background-image:url({{"/images/ocean.jpg" | relURL}});">
{{ end }}
  <div class="title">
    <h1 id="title">{{ .Title }}</h1>
    <section>
      <p id="date"> {{ i18n "postDatetime" .Date }} </p>
      <p id="wordcount"> {{ .ReadingTime }} mins  </p>
    </section>
    <small class="breadcrumb">
      {{ partial "breadcrumb.html" .}}
    </small>
    {{ $author := .Site.Author.name }}
    {{with .Site.GetPage "/about"}}
    <small class="author">by <a href="{{.Permalink}}">{{ $author }}</a></small>
    {{end}}
  </div>
</header>
<section id="main">
  <div class="center">
    {{ partial "table_of_content.html" .}}
    <div>
          <article class="content">
            {{ .Content }}
          </article>
    </div>
  </div>
</section>
<aside id="meta">
  <div class="center">
  <nav class="section-move">
    {{ with .PrevInSection }}
      <div class="previous"> <a href="{{.Permalink}}"><i class="fa fa-arrow-circle-left icon"></i>{{.Title | truncate 30}}</a></div>
    {{ end }}
    {{ with .NextInSection }}
      <div class="next"><a href="{{.Permalink}}">{{.Title | truncate 30}}<i class="fa fa-arrow-circle-right icon"></i></a></div>
    {{ end }}
    
  </nav>
    {{ with .Params.topics }}
    <ul id="topics">
      {{ range . }}
        <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    {{ partial "tag_list.html" . }}
    {{ partial "profile-in-article.html" . }}
    {{ template "_internal/disqus.html" . }}
    <div class="more-content">
      {{ partial "relate-content.html" . }}
    </div>
  </div>
</aside>
{{ end }}