{{ define "title" }}
   title{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<script>
  document.getElementById('topbar').classList.remove('card')
  window.addEventListener('scroll', (event) => {
    let e = document.getElementById('topbar');
    if (this.scrollY > 400) {
      if (!e.classList.contains('card')) {
        e.classList.add('card');
      }
    }
    else {
      if (e.classList.contains('card')) {
        e.classList.remove('card');
      }
    }
  });
</script>
{{ if .Params.cover }}
<header id="banner" style="background-image:url({{.Params.cover | relURL }});">
{{ else }}
<header id="banner" style="background-image:url({{"/images/ocean.jpg" | relURL}});">
{{ end }}
  <div class="title">
    <h1 id="title">{{ .Title }}</h1>
    <section>
      <h4 id="date"> {{ i18n "postDatetime" .Date }} </h4>
      <h5 id="wordcount"> {{ .WordCount }} Words, {{ .ReadingTime }} mins  </h5>
    </section>
    <small class="breadcrumb">
      {{ partial "breadcrumb.html" .}}
    </small>
    <small class="author">by {{ .Site.Author.name }}</small>
  </div>
</header>
<section id="main">
  <div class="center">
    {{ partial "table_of_content.html" .}}
    <div>
          <article class="content">
            {{ .Content }}
          </article>
    </div>
  </div>
</section>
<aside id="meta">
  <div class="center">
  <nav class="section-move">
    {{ with .PrevInSection }}
      <a class="previous" href="{{.Permalink}}"><i class="fa fa-arrow-circle-left"></i> {{.Title}}</a>
    {{ end }}
    {{ with .NextInSection }}
      <a class="next" href="{{.Permalink}}">{{.Title}} <i class="fa fa-arrow-circle-right"></i></a>
    {{ end }}
  </nav>
  <hr>
    {{ partial "profile-in-article.html" . }}
    {{ with .Params.topics }}
    <ul id="topics">
      {{ range . }}
        <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    {{ $baseurl := .Site.BaseURL }}
    category: <a href="{{ $baseurl }}{{ .Section}}">{{.Section}}</a>
    {{ partial "tag_list.html" . }}
    
    {{ template "_internal/disqus.html" . }}
    <div class="more-content">
      {{ partial "relate-content.html" . }}
    </div>
  </div>
</aside>
{{ end }}