<article class="summary card float">
  {{ if .Params.cover }}
  <div class="cover-image" style="background-image: linear-gradient(90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 251px),url('{{.Params.cover}}');">
  {{ else }}
  <div class="cover-image" style="background-image: linear-gradient(90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 251px),url('/images/ocean.jpg');">
  {{ end }}
    <div class="classification">
      <div class="summary-category">
        <h4>Category</h4>
        {{ range (.GetTerms "categories") }}
           <a href="{{.Permalink}}">{{.Title}}</a>
        {{ end }}
      </div>
      <a href="{{.Permalink}}#disqus_thread">comments</a>
    </div>
  </div>
  <div class="cover-content">
    <a href="{{ .Permalink }}">
      {{ if .Params.icon }}
      <img class="icon" src="{{ .Params.icon | relURL }}" />
      {{ else }}
      <img class="icon" src="{{ "/images/cover-icon.png" | relURL }}" />
      {{ end }}
      <h2 class="title">{{ .Title | truncate 80 }}</h2>
    </a>
    {{$aboutPage := .Site.GetPage "/about" }}
    <div class="post-meta">
      <button class="author" onclick="goToUrl( {{ $aboutPage.Permalink }} )">{{.Site.Author.name}}</button>
      | {{ i18n "postDatetime" .Date }}
    </div>
    <div class="content">{{ .Summary | truncate 160}}</div>
    <div class="read-more"><span>{{.ReadingTime}} mins read</span><a class="go-to-read" href="{{ .Permalink }}"><span>{{ i18n "readMore" }}</span><i class="fa fa-angle-right"></i></a></div>
  </div>

</article>