{{ define "main" }}
<div id="tag-term">
    <h1 class="title">Tags</h1>
    <p class="description">{{ i18n "tagsDescription" }}</p>
    <p class="counter">총 {{ i18n "tagsCount" (len .Data.Terms) }}</p>
    <div class="tag-list">
        <ul class="tags">
            {{ $baseurl := .Site.BaseURL }}
            {{ $data := .Data }}
            {{ range $key,$value := .Data.Terms.Alphabetical }}
            <li>
                <a href="{{ $baseurl }}{{ $data.Plural }}/{{ $value.Name | urlize }}">
                    <span>{{ $value.Name }}</span> <small>({{ $value.Count }})</small>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}