{{ define "main" }}
<div class="tag-term">
    <h1>Tags</h1>
    <p>{{ i18n "tagsDescription" }}</p>
    <p>{{len .Data.Terms}} {{ i18n "tagsCount" }}</p>
    <div class="tag-list">
        <ul class="tag">
            {{ $baseurl := .Site.BaseURL }}
            {{ $data := .Data }}
            {{ range $key,$value := .Data.Terms.Alphabetical }}
            <li>
                <a href="{{ $baseurl }}{{ $data.Plural }}/{{ $value.Name | urlize }}">
                    <span>{{ $value.Name }}</span> <small>({{ $value.Count }})</small>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}